# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/
.code-workspace

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Mac
.DS_Store

# Logs
*.log

# Environment
.env
.env.*
